
{% include 'nav.html'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=""
</head>
<body>
    <form class=" bg-gray-400 rounded-xl shadow-2xl w-[335px] p-5 justify-between flex flex-col"
        
        method="POST" action="{% url 'insert' %}"> <u><h1 class="text-center text-2xl font-bold">Enter Your Task</h1></u> 
        {% csrf_token %}
        <!--<input type="text" name="name" placeholder="Task Name" required><br>
        <textarea name="descrip" placeholder="Task Description" required></textarea><br>
        <input type="time" name="duetime" required><br>
        <input type="date" name="duedate" required><br>
        <button type="submit">Add Task</button>-->


        <div class="bg-white font-semibold rounded-xl shadow-2xl p-5 justify-between flex flex-col gap1">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter the title" name="title" required>   
          </div><br>
          <div class="bg-white font-semibold   rounded-xl shadow-2xl p-5 justify-between flex flex-col gap1">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" placeholder="Enter Description" name="description" required >
          </div> <br>
          <div class="bg-white font-semibold  rounded-xl shadow-2xl p-5 justify-between flex flex-col gap1">
            <label for="dueTime" class="form-label">Due Time:</label>
            <input type="time" class="form-control" id="dueTime" placeholder="Enter Due Time" name="dueTime">
          </div> <br>
          <div class="bg-white font-semibold  rounded-xl shadow-2xl p-5 justify-between flex flex-col gap1">
            <label for="due_date" class="form-label">Due Date:</label>
            <input type="date" class="form-control" id="due_date" placeholder="Enter Due Date" name="due_date">
          </div> <br>
          <div class="items-center text-center">
          <button type="submit" 
          class="bg-green-600 bg-cover p-2 rounded-xl shadow-2xl w-[200px] font-bold tracking-wide hover:scale-105 duration-200">Submit</button>
        </div>
    </form>

    <a href="{% url 'indexView' %}">
        <div class="items-center text-center">
        <button type="submit" 
        class="bg-blue-600 bg-cover p-2 rounded-xl shadow-2xl w-[200px] font-bold tracking-wide hover:scale-105 duration-200">
        View Your Tasks</button>
      </div></a>

    
    
</body>
</html>